services:
  api:
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file: app/.env

  postgres:
    image: postgres:15
    env_file: app/.env
    volumes:
      - postgres-db:/var/lib/postgresql/data
    ports:
        - "5433:5432"

volumes:
  postgres-db:
